.logo{margin-left: 0%;margin-top: 35%;width: 100%;}
.squ{height: 10%;padding-top:1.5%;text-align: center;border:solid;margin-top: 2%;margin-left: 0;
margin-right: 0;margin-bottom: 0;}
.container{padding: 0;}
